/**styles for my resume**/

BODY{
  font-family: 'Open Sans', Arial, sans-serif;
color: #444;
font-weight:400;
}

h1 {
  color: #33485e;
  text-transform:uppercase;
  text-align:center;
  font-size: 3em;
}

strong {
  color:#33485e;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
}

h2{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color:#ffffff;
  font-weight:400;
}
h3{
  font-size: 1.5em;
  font-weight:600;
}

h4{
  font-size: 1.5em;
  font-weight:400;
}

h5{
  font-size: 1em;
  font-weight:400;
  font-style: italic;
}

ul{
  font-size: 1em;
  font-weight: 400;
}
