/**styles for my resume**/
BODY {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
  font-weight: 400;
}

.name {
  color: #33485e;
  border-bottom: solid 1px;
  border-color: #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
}

strong {
  color: #33485e;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
}

.sectionHeader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #ffffff;
  font-weight: 400;
  margin: 20px 0 10px 0;
  width: 70%;
  min-width: 300px;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}

ul {
  font-size: 1em;
  font-weight: 400;
}
